{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Dashboard{% endblock %}

	{% block content %}

		{% for message in app.flashes('success') %}

			<div>
				{{ message }}
			</div>

		{% endfor %}

		{% for message in app.flashes('error') %}

			<div>
				{{ message }}
			</div>

		{% endfor %}

		<p>
			<a href="{{ path('ts_nao_logout') }}">Se déconnecter</a>
		</p>

		{% if 'ROLE_BIRD_FANCIER' in app.user.roles %}
			<p>
				<a href="{{ path('ts_nao_request_upgrade') }}">Demander une amélioration du compte</a>
			</p>
		{% endif %}

		{% if 'ROLE_ADMIN' in app.user.roles %}
			<p>
				<a href="{{ path('ts_nao_upgrade_request_list') }}">Liste des demandes d'amélioration de compte</a>
			</p>
		{% endif %}

		<p>
			<a href="{{ path('ts_nao_delete_account') }}">Supprimer mon compte</a>
		</p>

	{% endblock %}