{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Liste des demandes d'amélioration{% endblock %}

	{% block content %}

		<div class="transparent">

			{%   include 'TSNaoBundle:sections:message.html.twig' %}

			<div class="form_layout">
				<div class="form_head">
					<p><i class="fa fa-bell mr-3"></i>Demandes d'upgrade</p>
				</div>
				<div class="actions_layout">
					{% for request in requestList %}
						<p class="text-center">
							{{ request.name }} {{ request.surname }}<br />
							<a href="{{ asset('uploads/grades/') }}{{ request.grade }}" target="_blank">Document fournis</a>
						</p>
						<form action="{{ path('ts_nao_upgrade_request_list') }}" method="post">
							<div class="form-group mx-auto">
								<input type="radio" id="agree" name="status" value="1" />
								<label for="agree">Accepter</label>

								<input type="radio" id="decline" name="status" value="0" />
								<label for="decline">Refuser</label>
							</div>
							<input type="submit" class="btn btn-primary d-block mx-auto" value="Procéder" />

							<input type="hidden" name="email" id="email" value="{{ request.email }}" />
							{{ form_rest(form) }}

							
						</form>

					{% else %}
						<p>Aucune nouvelle demande d'amélioration.</p>
					{% endfor %}
				</div>
			</div>
		</div>

	{% endblock %}