{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Liste des demandes d'amélioration{% endblock %}

	{% block content %}

		{% for message in app.flashes('success') %}

            <div>
                {{ message }}
            </div>

        {% endfor %}

        {% for message in app.flashes('error') %}

            <div>
                {{ message }}
            </div>

        {% endfor %}
        
		<p>
			<a href="{{ path('ts_nao_dashboard') }}">Retour</a>
		</p>

		{% for request in requestList %}
			<p>
				{{ request.name }} {{ request.surname }}<br />
				<a href="{{ asset('uploads/grades/') }}{{ request.grade }}" target="_blank">Document fournis</a>
			</p>
			<form action="{{ path('ts_nao_upgrade_request_list') }}" method="post">
				<input type="radio" id="agree" name="status" value="1" />
				<label for="agree">Accepter</label>

				<input type="radio" id="decline" name="status" value="0" />
				<label for="decline">Refuser</label>

				<input type="hidden" name="email" id="email" value="{{ request.email }}" />
				{{ form_rest(form) }}

				<input type="submit" value="Procéder" />
			</form>

		{% else %}
			<p>Aucune nouvelle demande d'amélioration.</p>
		{% endfor %}

	{% endblock %}