{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Inscription{% endblock %}

	{% block content %}

		<div class = "transparent">
			<div class="form_layout">
				<div class="form_head">
					<p>Inscrivez-vous</p>
				</div>

				<input type="button" class="btn btn-primary neutral d-block mb-4 mt-5 mx-auto" value="S'inscrire avec Facebook" onclick="logInFacebook()" />

				{{ form_start(form) }}
				<span class="starchip">{{ form_errors(form) }}</span>
				<div class="form-group">
					{{ form_label(form.name) }}<span class="starchip">*</span>
					<span class="starchip">{{ form_errors(form.name) }}</span>
					{{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.surname) }}<span class="starchip">*</span>
					<span class="starchip">{{ form_errors(form.surname) }}</span>
					{{ form_widget(form.surname, {'attr' : {'class' : 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.username) }}
					<span class="starchip">{{ form_errors(form.username) }}</span>
					{{ form_widget(form.username, {'attr' : {'class' : 'form-control'}}) }}
				</div>

				{% for eachEmail in form.email %}
				<div class="form-group">
					{{ form_label(eachEmail) }}<span class="starchip">*</span>
					<span class="starchip">{{ form_errors(eachEmail) }}</span>
					{{ form_widget(eachEmail, {'attr' : {'class' : 'form-control'}}) }}
				</div>
				{% endfor %}

				{% for eachPwd in form.password %}
				<div class="form-group">
					{{ form_label(eachPwd) }}<span class="starchip">*</span>
					<span class="starchip">{{ form_errors(eachPwd) }}</span>
					{{ form_widget(eachPwd, {'attr' : {'class' : 'form-control'}}) }}
				</div>
				{% endfor %}

				<div class="form-group">
					<span class="starchip">{{ form_errors(form.cgu) }}</span>
					{{ form_widget(form.cgu) }}
					<span>J'accepte <a href="#">les conditions générales d'utilisation</a><span class="starchip">*</span></span>
				</div>

				<input type="submit" class="btn btn-primary d-block mx-auto mt-4" value="Inscription" />
				{{ form_rest(form) }}

			</div>
		</div>
	
	{% endblock %}

	{% block js %}

	<script src="{{ asset('bundles/tsnao/jquery/social_login.js' ) }}"></script>

	{% endblock %}