{% extends "@TSNao/sections/base.html.twig" %}

	{% block title %}Réinitialisation de mot de passe{% endblock %}

	{% block content %}

		<div class="transparent">
			<div class="form_layout">
				<div class="form_head">
					<p><i class="fa fa-key mr-3"></i>Réinitialisation de mot de passe</p>
				</div>

				{{ form_start(form) }}
				{{ form_errors(form) }}

				{% for eachPwd in form.password %}
				<div class="form-group">
					{{ form_label(eachPwd) }}<span class="starchip">*</span>
					{{ form_errors(eachPwd) }}
					{{ form_widget(eachPwd, {'attr' : {'class' : 'form-control'}}) }}
				</div>
				{% endfor %}

				<input type="hidden" name="email" id="email" value="{{ email }}">

				<input type="submit" class="btn btn-primary d-block mx-auto mt-4" value="Réinitialiser" />

				{{ form_rest(form) }}

			</div>
		</div>

	{% endblock %}