<!-- Side bar -->
<div class="col-lg-3  col-sm-5 hidden-xs sidebar">
    <div class="sidebar-module">
        <h4 class="sidebar-subtitle">
            <span class="fas fa-binoculars fa-2x space"></span> Les dernières observations
        </h4>
        <div class="module-content">
            <ol class="list-unstyled">
                {% for observation in lastObservations %}
                   {% if observation['url'] is not null %}
                        {% set icone %}
                            <img src="{{ observation['url'] }}" alt="{{ observation['alt'] }}" width="15" height="15" >
                        {% endset %}
                   {% else %}
                        {% set icone %}
                            <span class="fas fa-crow fa-2x bird_icone"></span>
                        {% endset %}
                   {% endif %}

                    <a href="{{ path('ts_nao_observation_view', {'id': observation['id']}) }}"> <li class="module-item">{{ icone }}{{ observation['specimen'] }} </li></a>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>