<!-- Side bar -->
<div class="col-lg-3  col-sm-5 hidden-xs sidebar">
    <div class="sidebar-module">
        <h4 class="sidebar-subtitle">
            <span class="fas fa-binoculars fa-2x space"></span> Les dernières observations
        </h4>
        <div class="module-content">
            <ol class="list-unstyled">
                {% for observation in lastObservations %}
                    {% set images = observation['images'] %}
                   {% if images|length > 0 %}
                        {% set img1 = images[0] %}
                        {% set icone %}
                            <img src="{{ galery }}/{{ img1['url'] }}" alt="{{ img1['alt'] }}" width="45" height="45" >
                        {% endset %}
                   {% else %}
                        {% set icone %}
                            <span class="fas fa-crow fa-2x bird_icone"></span>
                        {% endset %}
                   {% endif %}

                    <a href="{{ path('ts_nao_observation_view', {'id': observation['id']}) }}"> <li class="module-item">{{ icone }}{{ observation['specimen'] }} </li></a>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>